/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/tests/
/.env.example
/readme.md
/storage/
!.gitignore/
/composer.phar
/phpunit.phar
/phpunit.xml
/package.json
/composer.json
/composer.lock
/webpack.mix.js
/artisan
/.gitattributes
/server.php
/.idea/
/vendor/
!/server.php
!/webpack.mix.js
!/package.json
!/composer.phar
!/composer.lock
!/composer.json
!/artisan
